[submodule "external/phoenix-sdr-core"]
	path = external/phoenix-sdr-core
	url = https://github.com/Alex-Pennington/phoenix-sdr-core.git
[submodule "external/phoenix-discovery"]
	path = external/phoenix-discovery
	url = https://github.com/Alex-Pennington/phoenix-discovery.git
